@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Space Mono", monospace;
 }
 
 :root{
     font-size: 62.5%;
     --jagged-ice: #c5e4e7;
     --white: #fff;
     --greyish-turquoise: #5e7a7d;
     --squeeze: #f3f9fa;
     --sherpa-blue: #00474b;
     --topaz: #26c2ae;
     --beetle-green: #547878;
     --regent-grey: #7f9d9f;
     --water-leaf: #9fe8df;
 }
 
 body{
     font-size: 1.6rem;
     background: var(--jagged-ice);
 }
 
 header{
     display: flex;
     justify-content: center;
 
     padding-top: 5rem;
     padding-bottom: 4rem;
 }
 
 main{
     padding: 3.2rem 2.4rem;
     background: var(--white);
     border-radius: 2.5rem 2.5rem 0 0;
 }
 
 .info{
     margin-inline: .8rem;
     div{
         margin-bottom: 3.2rem;
     }
     strong{
         color: var(--greyish-turquoise);
     }
     .input-box{
         margin-top: .6rem;
         background: var(--squeeze);
         padding: .6rem 1.8rem;
         display: flex;
         align-items: center;
 
 
         input{
             border: none;
             background: transparent;
             text-align: right;
             width: 100%;
             outline: none;
             font-size: 2.4rem;
             font-weight: bold;
             color: var(--sherpa-blue);
             border-radius: .5rem;
 
             &::placeholder{
                 color: var(--sherpa-blue);
                 opacity: 0.35rem;
             }
         }
     }
 
     .input-box:has(input:focus){
         outline: 2px solid var(--topaz);
     }
     .tip{
         div{
           margin-top: 1.6rem;
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           gap: 1.6rem;
           button{
             font-size: 2.4rem;
             color: var(--white);
             background: var(--sherpa-blue);
             border: none;
             padding-block: .6rem;
             font-weight: 700;
             border-radius: .5rem;
           }
 
           .button-selected{
             background: var(--topaz);
           }
 
           input{
             width: 100%;
             border: none;
             background: var(--squeeze);
             border-radius: .5rem;
             font-size: 2.4rem;
             font-weight: 700;
             text-align: center;
             color: var(--sherpa-blue);
 
             &::placeholder{
                 color: var(--beetle-green);
             }
 
             &:focus{
                 outline: 2px solid var(--topaz);
             }
           }
         }
     }
 }
 
 .results{
     background: var(--sherpa-blue);
     border-radius: 1.5rem;
     padding: 4rem 2.4rem 2.4rem;
 
     .amount,
     .total{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 2.4rem;
 
         p{
             color: var(--white);
             font-weight: 700;
 
 
             span{
                 color: var(--regent-grey);
                 font-size: 1.3rem;
             }
         }
         strong{
             font-size: 3.2rem;
             color: var(--topaz);
         }
     }
     button{
         background: var(--topaz);
         color: var(--sherpa-blue);
         font-size: 2rem;
         text-transform: uppercase;
         width: 100%;
         border: none;
         border-radius: .5rem;
         padding-block: .9rem;
     }
 
 }
 
 @media(min-width: 920px){
     main{
         display: flex;
         max-width: 92rem;
         margin-inline: auto;
         border-radius: 2.5rem;
         gap: 4.8rem;
         padding: 4.8rem;
     }
     section{
         width: 100%;
     }
 
     input::-webkit-inner-spin-button,
     input::-webkit-outer-spin-button{
         display: none;
     }
 
     .info{
         .tip{
             div{
                 grid-template-columns: repeat(3, 1fr);
                 button:hover{
                     background: var(--topaz);
                     cursor: pointer;
                     transition: .3s;
                 }
             }
 
         }
     }
     .results{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 5.6rem 4rem 4rem;
         .amount,
         .total{
             strong{
                 font-size: 4.8rem;
             }
         }
         button:hover{
             background: var(--water-leaf);
             transition: .3s;
             cursor: pointer;
         }
 
     }
 }