@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root{
    font-size: 62.5%;
    --bg-body: #C5E4E7;
    --bg-main: #FFF;
}

body{
    font-size: 1.6rem;
    background: var(--bg-body);
}

header{
    display: flex;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 4rem;
}

main{
    background: var(--bg-main);
    padding: 3.2rem 2.4rem;
}
