@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root{
    font-size: 62.5%;
    --bg-body: #C5E4E7;
    --bg-main: #FFF;
    --strong-text: #5E7A7D;
    --bg-div: #F3F9FA;
    --input-text: #00474B;
}

body{
    font-size: 1.6rem;
    background: var(--bg-body);
}

header{
    display: flex;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 4rem;
}

main{
    background: var(--bg-main);
    padding: 3.2rem 2.4rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.info strong{
    color: var(--strong-text);
}

.input-box{
    margin-top: .6rem;
    background: var(--bg-div);
    padding: .6rem 1.8rem;
    align-items: center;
    border-radius: .5rem;

    input{
        border: none;
        background: transparent;
        text-align: right;
        width: 100%;
        outline: none;
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--input-text);

        &::placeholder{
            color: var(--input-text);
            opacity: 0.35;
        }
    }
}